body {
	background-color: #999;
}
.container {
	padding-top: 25px;
	width: 80%;
	margin: auto;
}
h3 {
	margin-left: 30%;
	font-size: 24px;
}
ul {
	margin-left: 30%;
	font-size: 20px;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	color: #555;
}